@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

:root{
  --bg-color: #F7F7F7;
  --table-body-font-color: #ACACAC;
  --table-header-font-color: #9EAAB4;
  --accent-color: #0CB4F1;
}

*,
*::before,
*::after{
  box-sizing: border-box;
}

body,
input,
button{
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

input,
button,
label,
.cancelBtn{
  cursor: pointer;
  border: none;
  outline: none;
}

body{
  margin: 0;
  background-color: #E5E5E5;
}

main{
  margin: 100px auto;
  max-width: 960px;
}

h1{
  color: #333333;
  font-size: 24px;
  line-height: 28px;
  margin: 12px 0 20px 27px;
}

.searchBar-container{
  background-color: white;
  padding: 12px 44px 16px 16px;
  box-shadow: 0px 18px 15px rgba(148, 148, 148, 0.15);
  border-radius: 7px;
}

.searchBar-container input{
  width: 100%;
  border-radius: 4px;
  background: #ECEFF0;
  caret-color: #9EAAB4;
  color: #4F4F4F;
  padding: 9px 31px;
}

.searchBar-container div{
  position: relative;
}

.searchBar-container div::before{
  position: absolute;
  content: url("icon/search.svg");
  z-index: 2;
  top: 5px;
  left: 3px;
}

.searchBar-container button{
  background: none;
  margin-top: 24px;
  color: #4F4F4F;
}

.searchBar-container button img{
  vertical-align: -3px;
  margin-right: 4px;
}

.sorting{
  margin-top: 72px;

  font-size: 10px;
  line-height: 14px;
  color: #9EAAB4;
  user-select: none;
}


.sorting input{
  appearance: none;
}

.sorting label{
  text-decoration: 1.2px dashed underline;
  text-underline-offset: 2px;
}

.sorting input:checked + label{
  color: #333333;
}

.user-display{
  background-color: #FFFFFF;
  margin-top: 15px;
  padding: 16px;
  border-radius: 7px;
}

table{
  width: 100%;
  text-align: left;
  border-collapse:collapse;
}

th,td{
  padding: 0;
}

th{
  color: #9EAAB4;
  font-size: 10px;
  line-height: 14px;
  font-weight: 500;
  padding-bottom: 22px;
}

td{
  color: #ACACAC;
  padding: 14px 0 20px 0;
}

td:nth-child(1){
  color: #0CB4F1;
  font-weight: 700;
}

tbody tr{
  border-top: 1px solid #F7F7F7;
}

.overlay{
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
}

.overlay.active{
  opacity: 1;
  pointer-events:all;
}

.modal-window{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #FFFFFF;
  border-radius: 8px;
  width: 353px;
  height: 134px;
  text-align: center;
}

.modal-window p{
  margin: 0;
  margin-top: 36px;
}

.modal-window button{
  margin-top: 24px;
  padding: 6px 36px;
  background: #0CB4F1;
  color: #FFFFFF;
  border-radius: 3px;
}

.modal-window button:nth-child(1){
  color: #828282;
  background: #E0E0E0;
  margin-right: 36px;
}

.modal-window button:hover{
  opacity: 0.9;
}

.modal-window button:active{
  opacity: 0.7;
}

.pagination{
  margin-top: 50px;
  text-align: center;
  user-select: none;
}

.page-link{
  background-color: #ffffff;
  color: #828282;
  padding: 15px;
  border-radius: 3px;
  cursor: pointer;
  display: inline;
  margin: 0 10px;
}